
/* General Reset */
body {
  background: #000015;
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* Sticky Header */
header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
}

/* Intro */
intro {
  text-align: center;
  padding: 50px 20px;
  background: #333;
  color: #fff;
}

intro h1 .highlight {
  color: #ff5733;
}

header h1 .highlight {
  color: #fff570;
}

header .btn {
  background: #ff5733;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

header .btn:hover {
  background: #e14e1e;
  color: teal;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  background: #444;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffff98;
  font-weight: bold;
  background: teal;
}

/* Sections */
section {
  padding: 50px 20px;
  text-align: center;
  color: #ffff;
}

section .h2 {
  color: #ff5733;
}

/* portfolio */
portfolio {
  text-align: center;
}

portfolio .btn {
  text-align: center;
  background: #ff5733;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 220px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}


.skills-grid, .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill, .project {
  background: grey;
  padding: 20px;
  border-radius: 5px;
}

.skill {
  font-weight: bold;
  color: #333;
}

.project a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #ff5733;
}

.project a:hover {
  text-decoration: underline;
}

/* Form */
form {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

form label {
  display: block;
  margin: 10px 0 5px;

}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #e14e1e;
}

/* Footer */
footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 20px 0;
}
