<!DOCTYPE html>
  <html>
       <head>
         <title>{{ page.title }}</title>
         <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
              <nav>
              <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/cv">CV</a></li>
                      <li><a href="/blog">Blog</a></li>
             </ul>
             </nav>
             <div class="container">
             {{ content }}
  
  </div><!-- /.container -->
  <footer>
  <ul>
  <li><a href="mailto:nwuzoranthonym@gmail.com">email</a></li>
  <li><a href="https://github.com/teefortech">github.com/teefortech</a></li>
  </ul>
<h2 style="text-align: center; font-size: 20px; color: grey; font-family: Times New Roman">
       © 2022 TEEFORTECH <br/ >
<h3 style="text-align: left; font-size: 20px; color: grey; font-family: Times New Roman">     
        N. TONY: <u>DATA SCIENTIST</u> | All Rights Reserved 
       </h2>
      </h3>
   </footer>
 </body>
 </html>
